[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
requests = "*"
pylint = "*"

[packages]
flask = "==1.0.2"
pillow = "==6.0.0"

[requires]
python_version = "3.7"