{% extends "default_template.html" %}
{% set active_page = "agents" %}
{% block title %}Agent{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div class="container">
		<h2>Agents</h2>
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>Reports</th>
					<th>Last Active</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/agents/{{agent.id}}">{{agent.id}}</a></td>
					<td>London</td>
					<td>16 Reports (84% Verified)</td>
					<td>12 Hours Ago</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm-8">
				<h3>Agent's Reports</h3>
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>ID</th>
							<th>Verified</th>
							<th># Detections</th>
							<th>Date</th>
							<th>Agent</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="/agents/{{agent.id}}">{{agent.id}}</a></td>
							<td><i class="fa fa-times"></i></td>
							<td>3</td>
							<td>01/01/2018 - 15:00</td>
							<td>Mr Whiskers</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				<h3>Other</h3>
				<div class="row">
					<div class="col-6">
						<img src="{{ url_for('get_agent_image', agent_id=agent.id) }}" class="img-thumbnail agent-thumbnail"></img>
					</div>
					<div class="col-6">
						<b>Description:</b>
						<p>{{agent.description}}</p>
					</div>
				</div>
				<table class="table table-striped table-sm">
					<tbody>
						<tr>
							<td>Reports (month)</td>
							<td>20</td>
						</tr>
						<tr>
							<td>Verified Reports</td>
							<td>90%</td>
						</tr>
						<tr>
							<td>Most Reports</td>
							<td>Mr Whiskers (20)</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
