<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		{% block head %}
			<title>{% block title %}{% endblock %} - CatCatCat</title>
		{% endblock %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<!--<script src="{{ url_for('static', filename='js/offline/jquery-3.2.1.slim.min.js') }}"></script>-->

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!--
			<link rel="stylesheet" href="{{ url_for('static', filename='css/offline/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/offline/font-awesome.min.css') }} ">
		-->
	</head>

	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">CatCatCat</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				{% set navigation_bar = [
					('/', 'index', 'Dashboard'),
					('/reports/', 'reports', 'Reports'),
					('/agents/', 'agents', 'Agents'),
					('/manual/', 'manual', 'Manual Entry')
					]-%}
				{% set active_page = active_page|default('index') -%}
				<ul class="navbar-nav mr-auto">
					{% for href, id, caption in navigation_bar %}
						<li class="nav-item {{'active' if id == active_page else 'wtf'}}" >
							<a href="{{ href|e }}" class="nav-link">{{ caption|e }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</nav>

		<main role="main">
			{% block content %}{% endblock %}
		</main><!-- /.container -->

		<footer class="footer">
			<div class="container">
				<span class="text-muted">CatCatCat Solutions - Emseers&copy; 2018</span>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!--
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
		<script src="../../../../assets/js/vendor/popper.min.js"></script>
		<script src="../../../../dist/js/bootstrap.min.js"></script>-->
	</body>
</html>
