{% extends "default_template.html" %}
{% set active_page = "reports" %}
{% block title %}Report{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div class="container">
		<a href="/reports/">Reports</a> <i class="fa fa-angle-right"></i> <a href="/report/{{reportId}}">{{reportId}}</a>
		<h2>Report  - {{reportId}}</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Verified</th>
						<th># Detections</th>
						<th>Date</th>
						<th>Agent</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/reports/abc123">abc123</a></td>
						<td><i class="fa fa-times"></i></td>
						<td>3</td>
						<td>01/01/2018 - 15:00</td>
						<td>Mr Whiskers</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h4>Images</h4>
		<div class="row">
			<div class="col-sm">
				<img src="{{ url_for('static', filename='images/mouse.jpg') }}" class="img-thumbnail report-thumbnail"></img>
				<div class="alert alert-warning" role="alert">
					<div>Confidence: 0.86 - mouse (rodent)</div>
					<button class="btn btn-primary">Confirm</button>
				</div>
			</div>
			<div class="col-sm">
				<img src="{{ url_for('static', filename='images/mouse.jpg') }}" class="img-thumbnail report-thumbnail"></img>
				<div class="alert alert-warning" role="alert">
					<div>Confidence: 0.86 - mouse (rodent)</div>
					<button class="btn btn-primary">Confirm</button>
				</div>
			</div>
			<div class="col-sm">
				<img src="{{ url_for('static', filename='images/sacks.jpg') }}" class="img-thumbnail report-thumbnail"></img>
				<div class="alert alert-success" role="alert">
					<div>Confidence: 0.90 - grains</div>
					<button class="btn btn-primary">Confirm</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
